
* { box-sizing: border-box; }

@media (prefers-color-scheme: dark) { html { filter: invert(90%) hue-rotate(180deg); } }

html { overflow: hidden scroll; }

body { margin: 0px; padding: 0px; }

.tab.active {
	display: block;
}

.tab {
	display: none;
	position: relative;
}

.tab .header {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	margin: 0px;
	padding: 16px;
	background: #eee;
	font-size: 32px;
	line-height: 32px;
	white-space: nowrap;
}

.tab .header .title {
	padding-left: 16px;
}

.tab .header :last-child {
	width: 32px;
	height: 32px;
	border: none;
	background: inherit;
	background-color: transparent;
	background-image: url('/skin/times.svg');
	background-repeat: no-repeat;
	background-size: 32px 32px;
	color: transparent;
}

.tab .header :last-child:hover {
	cursor: pointer;
}

.tab .content {
	min-height: 100vh;
	margin: 0px 0px;
	padding: 64px 0px;
	background: #fff;
	white-space: nowrap;
}

.tab .content .section {
	margin: 24px 16px;
	padding: 0px 0px;
	border: 2px solid #ccc;
	border-radius: 8px;
}

.tab .content .warning {
	border-color: #c00;
}

.tab .content .title {
	width: fit-content;
	margin: -12px 8px 0px;
	padding: 0px 8px;
	background: #fff;
	font-weight: bold;
}

.tab .content .container {
	margin: 16px 16px;
	padding: 0px 0px;
}

.tab .content .container div {
	margin: 16px 0px;
	padding: 0px 0px;
}

.tab .content .container div span {
	display: inline-block;
	vertical-align: top;
}

.tab .content .container div span:nth-child(1) {
	width: 256px;
}

.tab .content .container div span:nth-child(2) {
	width: 32px;
}

.tab .content .container div span:nth-child(3) {
	width: calc(100% - 256px - 32px - 8px);
}

.tab .content .container div span input:invalid {
	border: 2px solid #c00;
	outline: 2px solid #c00;
}

.tab .content .container div span input[type='number'] {
	appearance: textfield;
	width: 64px;
	text-align: center;
}

.tab .content .container div span button {
	width: 32px;
	text-align: center;
}

.tab .content .container div span textarea {
	width: 256px;
}

.tab .content .container div table {
	display: block;
	overflow: auto;
	border-collapse: collapse;
}

.tab .content .container div table tr:nth-child(1) {
	font-weight: bold;
}

.tab .content .container div table td {
	min-width: 16px;
	padding: 2px;
	border: 1px solid #999;
}

.tab .footer {
	display: flex;
	flex-direction: row;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 64px;
	margin: 0px;
	padding: 16px;
	background: #eee;
	white-space: nowrap;
}

.tab .footer button {
	height: 32px;
}

.tab .footer input {
	height: 32px;
}

.error.active {
	display: block;
}

.error {
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background: rgba(0,0,0,0.8);
	z-index: 1;
}

.error .alert.active {
	display: flex;
	flex-direction: column;
}

.error .alert {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 512px;
	height: 256px;
	margin: -128px -256px;
	background: white;
}

.error .confirm.active {
	display: flex;
	flex-direction: column;
}

.error .confirm {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 512px;
	height: 256px;
	margin: -128px -256px;
	background: white;
}

.error .header {
	display: flex;
	flex-direction: row;
	width: 512px;
	height: 64px;
	margin: 0px;
	padding: 16px;
	background: #eee;
	font-size: 32px;
	line-height: 32px;
	white-space: nowrap;
}

.error .header .title {
	padding-left: 16px;
}

.error .content {
	position: unset;
	width: 512px;
	height: 128px;
	margin: 0px;
	padding: 0px;
	background: white;
	min-height: unset;
}

.error .content .container {
	margin: 16px 16px;
	padding: 0px 0px;
}

.error .footer {
	display: flex;
	flex-direction: row;
	width: 512px;
	height: 64px;
	margin: 0px;
	padding: 16px;
	background: #eee;
	white-space: nowrap;
}

.error .footer button {
	height: 32px;
}

#mailmerge-dialog-batch-pause-random:disabled+label { color: GrayText; }

#mailmerge-about .content div span { display: block; }

#mailmerge-message .footer button { width: 32px; }
